<header class="site_header">
    <div class="row">
        <div class="site_header-logo">
            <a href="#home" class="scrollto">
                <img src="images/logo.svg" alt="">
            </a>
        </div>
        <div class="site_header-container">
            <div class="site_header-info">
                <div class="u-clearfix">
                    <div class="site_header-phones">
                        <a href="tel:380507788388"> 
                            +380507788388
                        </a>
                        <a href="tel:380674770492">
                            +380674770492
                        </a>
                    </div>
                    <div class="site_header-lang">
                        <a href="#">
                            RU
                        </a>
                        <a href="#">
                            EN
                        </a>
                        <a href="#">
                            UA
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="header-nav">
            <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".site_header" >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </nav>
        <nav class="site_header-nav">
            <ul>
                <li>
                    <a href="#about" class="scrollto">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="#service" class="scrollto">
                        Наши услуги
                    </a>
                </li>
                <li>
                    <a href="#advantages" class="scrollto">
                        Преимущества
                    </a>
                </li>
                <li>
                    <a href="#how-we-work" class="scrollto">
                           Как мы работаем
                        </a>
                    </li>
                <li>
                    <a href="#clients" class="scrollto">
                        Партнеры
                    </a>
                </li>
                <li>
                    <a href="#contacts" class="scrollto">
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
